div#navbar {
    position: fixed;
    float: left;
    background-color: white;
    width: 100%;
    height: 8%;
    z-index: 999;
    border-bottom: 1px solid rgb(194, 149, 133);
}
div#logo {
    position: relative;
    float: left;
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#menu {
    position: relative;
    float: left;
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

div#logo img {
    height: 100%;
}